<% if signed_in? %>
  <div class="row">

    <div  class="span8">
      <h3 style="text-align: center;">BBCS</h3>
      <div class="tab-pane fade show article-list active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%@passages.each do |each_passage| %>
          <div class="article-list-item">
            <div class="list-item-title">
              <p class="article-list-item-txt">
                <a href="#" target="_blank" title="编辑"><%=each_passage.title %></a>
              </p>
            </div>

            <div class="article-list-item-info">
              <div class="item-info-left">
                <span class> <%= User.find(each_passage.user_id).name  %></span>
                <span class> <%=each_passage.updated_at %></span>
                <span class>
                  <svg class="icon icon-read">
                    <use class="" xlink:href="#read">
                    </use>
                  </svg>
                  <%=each_passage.read_number %>
                 </span>

                <span class>
                  <svg class="icon icon-comment">
                    <use class="" xlink:href="#thumb_up">
                    </use>
                  </svg>
                  <%=each_passage.thumber_up_number %>
                </span>

              </div>


            </div>

          </div>





      <% end %>
      </div>
    </div>
  </div>
<% else %>


<% end %>