<div>
  <div>
    <h1> <%=@artical.title %></h1>
  </div>
  <%==@artical.content %>

  <div class="article-list-item-info" style="margin-top: ">
    <div class="item-info-left">
      <span class> <%= User.find(1).name  %></span>
      <span class> <%=@artical.updated_at %></span>
      <span class>
          <svg class="icon icon-read">
            <use class="" xlink:href="#read">
            </use>
          </svg>
        <%=@artical.read_number %>
      </span>



      <div class="btn" data-key="on">

        <b id="thumb_up_css">&#10084;</b>
        <span><%=@artical.thumber_up_number %></span>

      </div>


    </div>


  </div>
  
  <h2> here are replies</h2>
  <%@replies.each do |reply| %>
    <div class="article-list-item">
      <div class="list-item-title">
        <p class="article-list-item-txt">
          <span > <%=reply.content %> </span>
          <% if current_user?(User.find(reply.user)) or current_user.admin? %>
            <span><a href=<%="/replies/"+reply.id.to_s+"/edit" %>>edit</a> </span>
            <span><%= link_to "delete", reply, method: :delete, 
                                                 data: { confirm: "are you sure?" } %></span>
          <%end%>
        </p>
      </div>

      <div class="article-list-item-info">
        <div class="item-info-left">
          <span> <%=User.find(reply.user).name %> </span>
          <span> <%=reply.created_at %></span>
          <span> <%=reply.updated_at %></span>
        </div>

      </div>
    </div>
  <% end %>

</div>






