<div>
  <div>
    <h1> <%=@artical.title %></h1>
  </div>
  <div style="width: 900px;margin-top: 20px">
        <%=@artical.content %>
  </div>

  <div class="article-list-item-info" style="margin-top: ">
    <div class="item-info-left">
      <span class> <%= User.find(1).name  %></span>
      <span class> <%=@artical.updated_at %></span>
      <span class>
          <svg class="icon icon-read">
            <use class="" xlink:href="#read">
            </use>
          </svg>
        <%=@artical.read_number %>
      </span>



      <div class="btn" data-key="on">

        <b id="thumb_up_css">&#10084;</b>
        <span><%=@artical.thumber_up_number %></span>

      </div>


    </div>


  </div>

</div>






