<h1>编辑文章</h1>


<div class="mainer">
  <div class="container-fluid">
    <div class="col-md-9 col-lg-9 col-center-block content-wrap">
      <div class="edit-post">
        <%= simple_form_for @passage, remote: true do |f| %>
          <div class="edit-header">
            <!-- 文章标题-->
            <div class="post-title">
              <div class="form-group">
                <%= f.input_field :title, class: "form-input", id: "title-input", placeholder: "标题", maxlength: "50" %>
              </div>
            </div>

            <% @all_passage=Passage.select("catagory").distinct%>
            <%@catagory_array=["选择分类"] %>
            <% @all_passage.each do |each_passage|%>
              <%@catagory_array.append(each_passage.catagory) %>
            <%end %>
            <%= f.input_field :catagory, :collection => @catagory_array, :selected => '选择分类' %>
          </div>
          <%= f.kindeditor :content,:width => 900, :height => 600%>

          <div style="margin-top: 50px">
            <%= f.button :submit, value: "发布文章" %>
          </div>


        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#autore").load(location.href + " #autore");//注意后面DIV的ID前面的空格，很重要！没有空格的话，会出双眼皮！（也可以使用类名）
        
    })

</script>
