<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BBCS", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><a href="/articals">首页</a></li>

          <% if logged_in? %>
            <li>
              <a href="/articals/new">写文章</a>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                账户 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
<!--                <a href="/articals/new">写文章</a>-->
                <li><%= link_to "个人信息", current_user %></li>
                <li><%= link_to "重置密码", edit_user_path(current_user) %></li>
                <li><%= link_to "我的文章", root_path%></li>

                <li class="divider"></li>
                <li>
                  <%= link_to "注销", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登录", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
